DATABASE_URL="postgresql://USER:PASSWORD@ep-example-pooler.us-east-1.aws.neon.tech/DBNAME?sslmode=require&channel_binding=require"
DIRECT_DATABASE_URL="postgresql://USER:PASSWORD@ep-example.us-east-1.aws.neon.tech/DBNAME?sslmode=require&channel_binding=require"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_..."
CLERK_SECRET_KEY="sk_test_..."
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/login"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/signup"
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
